<!DOCTYPE html>

<html>
<head>
  <link href="../../static/styles.css" rel="stylesheet" type="text/css" />
</head>
 <body>
  <div class="table_cell half right">
    <div class="content black">
      <form action="../login-page/login.html" method="get">
        <div class="imgcontainer">
          <img src="../../static/images/boyLoginPage.png" alt="Avatar" class="avatar">
          <img src="../../static/images/girlLoginPage.png" alt="Avatar" class="avatar">
        </div>
        
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Full Name" name="uname" required>

          <label for="uname"><b>Email</b></label>
          <input type="email" placeholder="Enter Email Adrress" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="uname"><b>Re-Enter password</b></label>
          <input type="text" placeholder="Re-Enter password" name="uname" required>    
          
          <button type="submit">Sign Up</button>

          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      </form>

        <div class="container" >
          <button type="submit">Check in as guest</button>
          <button type="button" class="cancelbtn">Cancel</button>
        </div>
      
    </div>
  </div>
    </body>
</html>