<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link href="../../static/styles.css" rel="stylesheet" type="text/css" />
		<title>Demo - JobMate</title>
		<meta charset="UTF-8">
		<meta name="description" content="JobMate Custom Login Page Template">
		<meta name="keywords" content="Example, Template, Custom, Login">
		<meta name="author" content="Ahmad Abuoudeh">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div class="page_wrapper">
		
		<!--MISSION STATEMENT-->
			<div class="table_cell half">
			<div class="content">
				
				<div  id="carousel_item_1">
					<h3>One click away from your next Job</h3>
					<h2>Try us today!</h2>
					<img src="../../static/images/jobmate.png"
					width="358"
					height="363">
					<h3>Enjoy your stay!</h3>
				</div>

			</div>
			</div>
			
			<!--Login section-->

			<div class="table_cell half right">
				<div class="content black">
					<form  method="post">
						<div class="imgcontainer">
							<img src="../../static/images/boyLoginPage.png" alt="Avatar" class="avatar">
							<img src="../../static/images/girlLoginPage.png" alt="Avatar" class="avatar">
						</div>

						<div class="container">
							<label for="uname"><b>Username</b></label>
							<input type="text" placeholder="Enter Username" name="uname" required>

							<label for="psw"><b>Password</b></label>
							<input type="password" placeholder="Enter Password" name="psw" required>

							<button type="submit">Login</button>
							<label>
								<input type="checkbox" checked="checked" name="remember"> Remember me
							</label>checkbox
							
						</div>
					</form>

					<div class="container" >
					<button type="submit">Check in as guest</button>
					<form action="../signup/signup-page.html" method="post">
						<button type="submit">Sign Up</button>
					</form>
					<span class="psw">Forgot <a href="#">password?</a></span>
					</div>

				</div>
			</div>
		</div>
		<div class="footer">
			
			<div class=" table">
			
				<div class="table_cell quater"><a href="#">Home</a></div>
				<div class="table_cell quater"><a href="#">About</a></div>
				<div class="table_cell quater"><a href="#">Contact Us</a></div>
				<div class="table_cell quater"><a href="#">Careers</a></div>
			</div>
		</div>
	</body>
</html>