<!DOCTYPE html>

<html>
<head>
  <link href="../../static/styles.css" rel="stylesheet" type="text/css" />
  <script src="../../static/login-func.js"></script>
</head>
 <body>
  <div class="table_cell half right">
    <div class="content black">
      <form  onsubmit="return checkPassword(this)"  action=""  method="POST">
        {% csrf_token %}
        <div class="imgcontainer">
          <img src="../../static/images/boyLoginPage.png" alt="Avatar" class="avatar">
          <img src="../../static/images/girlLoginPage.png" alt="Avatar" class="avatar">
        </div>
        
        <div class="container">
          <label for="fname"><b>First Name</b></label>
          {{form.first_name}}

          <label for ="lname"><b>Last Name</b></label>
          {{form.last_name}}

          <label for="uname"><b>User Name</b></label>
          {{form.username}}

          <label for="email"><b>Email</b></label>
          {{form.email}}

          <label for="psw"><b>Password</b></label>
          {{form.password1}}

          <label for="repsw"><b>Re-Enter password</b>
            {{form.password2}}
            <span id='message'></span> 
          </label>
          
          <button type="submit">Sign Up</button>

          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      </form>

        <div class="container" >
          <button type="submit">Check in as guest</button>
          <button type="button" class="cancelbtn"><a href="/loginPage">Cancel</a></button>
        </div>

    </div>
  </div>
  <script>

    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='First Name..';
    form_fields[2].placeholder='Last Name..';
    form_fields[3].placeholder='Username..';
    form_fields[4].placeholder='Email..';
    form_fields[5].placeholder='Enter password...';
    form_fields[6].placeholder="Re-enter password...";

    for(var field in form_fields){
      form_fields[field].className += ' form-control'
    }
  </script>
    </body>
</html>